<div class="container mt-5 border">
  <div class="row">
    <div class="col-xxl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="row d-flex justify-content-evenly">
        <div
          class="col-xxl-4 col-lg-4 col-md-4 col-sm-12 col-12 d-flex justify-content-start"
        >
          <img src="../assets/logo.png" alt="Brics Technologies" />
        </div>
        <div
          class="col-xxl-4 col-lg-4 col-md-12 col-sm-4 col-12 d-flex justify-content-center"
        >
          <span class="brics-technologies-title">
            Brics Technologies Systems Private Limited
          </span>
        </div>
        <div
          class="col-xxl-4 col-lg-4 col-md-12 col-sm-4 col-12 mt-5 d-flex justify-content-end"
        >
          <span class="tax-invoice"> TAX INVOICE </span>
        </div>
      </div>
    </div>
    <table>
      <tbody>
        <tr class="border-top">
          <td class="col-xxl-6 col-lg-6 col-md-6 col-sm-6 col-6 border">
            <div class="row" style="width: 100%">
              <div
                class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-4 d-flex justify-content-start flex-wrap flex-column"
              >
                <span>Invoice Number</span>
                <span>Invoice Date</span>
                <span>Terms</span>
                <span>Due Date</span>
              </div>
              <div
                class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-4 d-flex justify-content-center flex-wrap flex-column"
              >
                <span>:</span>
                <span>:</span>
                <span>:</span>
                <span>:</span>
              </div>
              <div
                class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-4 d-flex justify-content-end flex-wrap flex-column"
              >
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </td>
          <td class="col-xxl-6 col-lg-6 col-md-6 col-sm-6 col-6 border">
            <div class="row" style="width: 100%">
              <div
                class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-4 d-flex justify-content-start flex-wrap flex-column"
              >
                <span>Place of Supply</span>
              </div>
              <div
                class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-4 d-flex justify-content-center flex-wrap flex-column"
              >
                <span>:</span>
              </div>
              <div
                class="col-xxl-4 col-lg-4 col-md-4 col-sm-4 col-4 d-flex justify-content-end flex-wrap flex-column"
              >
                <span></span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table-bordered">
      <thead>
        <tr class="border-top bg-secondary">
          <th class="col-xxl-6 col-lg-6 col-md-6 col-sm-6 col-6 border">
            <span> Bill To </span>
          </th>
          <th class="col-xxl-6 col-lg-6 col-md-6 col-sm-6 col-6 border">
            <span> Ship To </span>
          </th>
        </tr>
      </thead>
      <tbody style="height: 200px">
        <td class="border-bottom-0"></td>
        <td class="border-bottom-0"></td>
      </tbody>
    </table>
    <table class="table-bordered">
      <thead>
        <tr style="height: 100px">
          <th class="col-xxl-6 col-lg-6 col-md-6 col-sm-6 col-6 border">
            <span> Subject: </span>
          </th>
        </tr>
      </thead>
    </table>

    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th rowspan="2">#</th>
          <th rowspan="2">Item & Description</th>
          <th rowspan="2">Qty</th>
          <th rowspan="2">Rate</th>
          <th colspan="2">CGST</th>
          <th colspan="2">SGST</th>
          <th rowspan="2">Amount</th>
        </tr>
        <tr>
          <th>%</th>
          <th>amt</th>
          <th>%</th>
          <th>amt</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="8">1</td>
        </tr>
        <tr>
          <td>1</td>
          <td>New Item</td>
          <td>3</td>
          <td>---</td>
          <td>5</td>
          <td>---</td>
          <td>7</td>
          <td>---</td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-lg-6 mt-3">
        <span>Total in words</span>
        <div class="row mt-5">
          <div class="col-xxl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <span>Thanks for your bussiness</span>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-xxl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <span>Thanks for your bussiness</span>
          </div>
        </div>
        <div class="row mt-5">
          <div
            class="col-xxl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex flex-wrap flex-column"
          >
            <span>Terms & Conditions</span>
            <span>Please make payments as per the below details below</span>
            <span>M/s Bricks Technologies systems private limited</span>
            <span>Bank Name:</span>
            <span>Account Number:</span>
            <span>IFSC Code:</span>
          </div>
        </div>
      </div>
      <div
        class="col-xxl-6 col-lg-6 col-md-6 col-sm-6 col-6 d-flex flex-wrap flex-column border"
      >
        <span> Sub Total </span>
        <span> CGST9(9%): </span>
        <span> SGST9(9%): </span>
        <span> Total </span>
        <span> Balance Due </span>
        <div class="row border-top mt-5">
          <div class="col-xxl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-5">
            <span> Authorized Signature </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
