<!-- its parent div so it wont effect to others even though that component belongs to same -->
<div class="first-table-div">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- # column  -->
    <ng-container matColumnDef="Hash">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let element">{{ element.Hash }}</td>
    </ng-container>

    <!-- Item & Description -->
    <ng-container matColumnDef="ItemAndDescription">
      <th mat-header-cell *matHeaderCellDef>Item & Description</th>
      <td mat-cell *matCellDef="let element">
        {{ element.ItemAndDescription }}
      </td>
    </ng-container>

    <!-- Qty -->
    <ng-container matColumnDef="Qty">
      <th mat-header-cell *matHeaderCellDef>Qty</th>
      <td mat-cell *matCellDef="let element">{{ element.Qty }}</td>
    </ng-container>

    <!-- Rate -->
    <ng-container matColumnDef="Rate">
      <th mat-header-cell *matHeaderCellDef>Rate</th>
      <td mat-cell *matCellDef="let element">{{ element.Rate }}</td>
    </ng-container>

    <!-- Taxable Amount -->
    <ng-container matColumnDef="TaxableAmount">
      <th mat-header-cell *matHeaderCellDef>Taxable Amount</th>
      <td mat-cell *matCellDef="let element">{{ element.TaxableAmount }}</td>
    </ng-container>

    <!-- Tax -->
    <ng-container matColumnDef="Tax">
      <th mat-header-cell *matHeaderCellDef>Tax</th>
      <td mat-cell *matCellDef="let element">{{ element.Tax }}</td>
    </ng-container>

    <!-- Amount -->
    <ng-container matColumnDef="Amount">
      <th mat-header-cell *matHeaderCellDef>Amount</th>
      <td mat-cell *matCellDef="let element">{{ element.Amount }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<hr />

<span class="tax-invoice"> TAX INVOICE </span>

<div class="second-table-div">
  <table mat-table [dataSource]="dataSourceTaxSummary" class="mat-elevation-z8">
    <!-- # column  -->
    <ng-container matColumnDef="TaxDetails">
      <th mat-header-cell *matHeaderCellDef>Tax Details</th>
      <td mat-cell *matCellDef="let element">{{ element.TaxDetails }}</td>
    </ng-container>

    <!-- Item & Description -->
    <ng-container matColumnDef="TaxableAmountAED">
      <th mat-header-cell *matHeaderCellDef>Taxable Amount (AED)</th>
      <td mat-cell *matCellDef="let element">{{ element.TaxableAmountAED }}</td>
    </ng-container>

    <!-- Item & Description -->
    <ng-container matColumnDef="TaxAmountAED">
      <th mat-header-cell *matHeaderCellDef>Taxable Amount (AED)</th>
      <td mat-cell *matCellDef="let element">{{ element.TaxAmountAED }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumnsTaxSummary"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumnsTaxSummary"></tr>
  </table>
</div>
